.contact {
  background-image: url(../images/nightsky.jpg);
  background-size: cover;
  height: 50vw;
  display: grid;
  font-size: large;
}

.information {
  padding-top: 10rem;
  color: white;
  font-size: large;
}

.icons {
  margin-right: 1rem;
  height: 70px;
  width: 70px;
}

.icons :hover {
  border: #92bde7 1px solid;
  border-radius: 45%;
}